:root {
  --altura_menu: 60px;
  --color_primario_1: white;
  --color_primario_2: black;
  --color_fuente_1: black;
  --color_fuente_2: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color_primario_2);
  overflow: auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: justify;
  color: var(--color_fuente_2);
  transition: background-color 0.3s, color 0.3s;
}

body.tema-claro {
  --color_primario_1: black;
  --color_primario_2: white;
  --color_fuente_1: white;
  --color_fuente_2: black;
}

body.tema-claro .logo {
  background-color: black;
}

.margen {
  border: 4px solid var(--color_primario_1);
  box-sizing: border-box;
  padding: 10px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  height: var(--altura_menu);
}

.bar_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color_primario_2);
  color: var(--color_fuente_2);
  position: fixed;
  width: calc(100% - 1em);
  flex-wrap: wrap;
  padding: 0 2em;
  height: var(--altura_menu);
  top: 0;
}

#menu_burger {
  display: none;
}

.logo_nav {
  display: flex;
  gap: 10px;
}

.logo {
  width: 3vw;
}

.links {
  text-decoration: none;
  color: var(--color_fuente_2);
}

.links:hover {
  color: #660000;
  transition-duration: 0.5s;
}

.menu_burger:checked + .ul_links {
  height: calc(100vh - var(--altura_menu));
}

.label_burger {
  display: none;
  position: absolute;
  right: 2em;
}

.ul_links {
  position: static;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 2em;
  position: absolute;
  right: 2em;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.burger_icono {
  color: var(--color_fuente_2);
  cursor: pointer;
}

.burger_icono:hover {
  color: #660000;
  transition-duration: 0.5s;
}

.titulo {
  display: grid;
  place-content: center;
  height: 100vh;
  text-align: center;
}

.h_titulo {
  color: var(--color_fuente_2);
  font-size: 7vh;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.p_titulo {
  color: var(--color_fuente_2);
}

.titulo_criticas {
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6;
}
.tabla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1vh;
  padding-top: 10vh;
  text-align: center;
  line-height: 1.6;
  font-size: 1.1em;
}
.div1_tabla {
  border: 4px solid var(--color_primario_1);
  box-sizing: border-box;
}
.div2_tabla {
  border: 4px solid var(--color_primario_1);
  box-sizing: border-box;
}
.div3_tabla {
  border: 4px solid var(--color_primario_1);
  box-sizing: border-box;
}
.b {
  font-size: 5vh;
}

.boton_tema {
  background-color: var(--color_primario_2);
  color: var(--color_primario_1);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.boton_tema:hover {
  background-color: var(--color_primario_1);
  color: var(--color_primario_2);
  transform: scale(1.05);
}

.p_end {
  align-items: center;
  text-align: center;
}

.h2_end {
  align-items: center;
  text-align: center;
  padding-top: 10vh;
}

.invisible {
  color: var(--color_fuente_1);
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 10vh;
}

.div1,
.div2,
.div3 {
  border: 4px solid var(--color_primario_1);
  padding: 1rem;
  text-align: center;
}

.links_proyectos {
  text-decoration: none;
  color: var(--color_fuente_2);
}

.links_proyectos:hover {
  color: #660000;
  transition-duration: 0.5s;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  margin: 20vh auto;
  color: var(--color_fuente_2);
}

.form-title {
  color: #660000;
  margin-bottom: 10px;
  text-align: center;
}

.form-description {
  text-align: center;
  margin-bottom: 20px;
}

.form-input-area {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #660000;
  width: 100%;
  font-size: 1em;
}

.form-input::placeholder {
  color: #660000;
  opacity: 1;
}

.form-button {
  padding: 10px 15px;
  background-color: #660000;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-button:hover {
  background-color: white;
  color: #660000;
}

@media (width <= 768px) {
  .label_burger {
    display: block;
  }
  .ul_links {
    position: absolute;
    width: 100%;
    height: 0;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    top: var(--altura_menu);
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links {
    font-size: 3vh;
    color: var(--color_fuente_2);
    font-weight: bold;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 25px;
  }

  .links:hover {
    cursor: pointer;
    color: #660000;
  }

  .margen {
    border: 0px solid var(--color_primario_1);
  }

  .tabla {
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  .div1_tabla {
    flex: 0 0 auto;
    width: 60vw;
  }

  .div2_tabla {
    flex: 0 0 auto;
    width: 60vw;
  }

  .div3_tabla {
    flex: 0 0 auto;
    width: 60vw;
  }

  .logo {
    width: 10vw;
  }

  .b {
    font-size: 8vw;
  }
  .parent {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    padding: 1rem;
  }

  .div1,
  .div2,
  .div3 {
    flex: 0 0 auto;
    width: 60vw;
    border: 4px solid var(--color_primario_1);
    padding: 1rem;
  }

  .links_proyectos {
    font-size: 1rem;
  }
  .links_proyectos:hover {
    cursor: pointer;
    color: #660000;
  }
  .form-container {
    padding: 20px;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .form-title {
    font-size: 5vw;
  }

  .form-description {
    font-size: 4vw;
  }

  .form-input {
    font-size: 4vw;
    padding: 8px;
  }

  .form-button {
    font-size: 4vw;
    padding: 10px;
  }
}
